- thumbnails_hash = UUID.generate(:compact)
%div{ :id => thumbnails_hash }
  - bookmarks.each do |bookmark|
    .bookmark.masonry-brick.col1
      .thumbnail
        %img{ :src => "http://pagepeeker.com/t/m/wikipedia.org" }
      .caption
        %h5= bookmark.title
        %p= truncate(bookmark.description, :length => 80)
        %p= bookmark.user.name
        %p
          = link_to "Click", "#", { :class => "btn primary" }

:javascript
  $(document).ready(function() {
    $('##{thumbnails_hash}').masonry({
      itemSelector: '.bookmark',
      singleMode: true,
      isAnimated: true
    });
  });
