.row-fluid
  .span12
    #layout-banner.hero-unit
      .row-fluid
        .span8
          %h1 Explore and Share Content Across the Web
          %br
          %ul#layout-points
            %li.icon-bookmark
              Keep track of things You Watch and Read Online with Our
              = link_to "Bookmarklet", "#", { :"data-toggle" => "modal", :"data-target" => "#bookmarklet-code-dialog" }
            %li.icon-user
              = link_to "Find and Discover" 
              new Things that Interest You Online
            %li.icon-book
              = succeed "," do
                = link_to "Dramas", "#"
              = succeed "," do
                = link_to "Comics", "#"
              = succeed "," do
                = link_to "Articles", "#"
              = succeed "," do
                = link_to "Anime", "#"
              and
              = link_to "More! "#"
        .span4
          %h3 Register/Sign In
          %p Sign in or Register with the Facebook (don't worry we won't spam your wall!)
          = render :partial => "sessions/providers", :locals => { :title => "Register or Sign In!" }
