#main-nav.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{ :"data-toggle" => "collapse", :"data-target" => ".nav-collapse" }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Readlett", root_path, :class => "brand"
      .nav-collapse
        %ul.nav
          %li= link_to "Explore!", "#"
          %li= link_to "Categories", "#"
          %li= link_to "Bookmarklet", "#"
        %ul.nav.pull-right
          %li= link_to "Register/Sign In", "#", { :"data-toggle" => "modal", :"data-target" => "#sign-in-dialog" }
