#main-nav.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to "Mediac", root_path, :class => "brand"
      .nav-collapse
        - if signed_in?
          %ul.nav
            %li= link_to "My Bookmarks", me_path
        %ul.nav.pull-right
          %li= link_to "Bookmarklet", "#", { :"data-toggle" => "modal", :"data-target" => "#bookmarklet-code-dialog" }
          - if signed_in?
            %li.dropdown
              %a.dropdown-toggle{ :"data-toggle" => "dropdown", :href => "#" }
                = current_user.name
                %b.caret
              %ul.dropdown-menu
                %li= link_to "My Bookmarks", me_path
                %li= link_to "My Profile", "#"
                %li= link_to "Settings", "#"
                %li= link_to "Feedback", "#"
                %li.divider
                %li= link_to "Sign Out", logout_path
          - else
            %li= link_to "Register/Sign In", "#", { :"data-toggle" => "modal", :"data-target" => "#sign-in-dialog" }
