!!! 5
%html
  %head
    %title
      Readlett | #{yield(:title).empty? ? "Bookmarking made Simple" : yield(:title)}

    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body{ :id => "wallpaper-1" }
    - # TODO: Convert the layout to fixed width - perhaps check the resolution of IPad + Android tablets?
    = render :partial => "layouts/header"
    .container-fluid
      #main
        = yield
      %ul
        %li= link_to "Home", index_path
        %li= link_to "About", about_path
        %li= link_to "Bookmarklet", "#"
        %li= link_to "Legal", "#"
