!!! 5
%html
  %head
    %title
      Readlett | #{yield(:title).empty? ? "Bookmarking made Simple" : yield(:title)}

    - # TODO: SEO META TAGS
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body{ :id => "wallpaper-1" }
    - # TODO: Add flash partial
    - # TODO: Helper that determines wallpaper-id
    = render :partial => "sessions/sign_in_dialog"
    = render :partial => "bookmarklet/bookmarklet_dialog"
    = render :partial => "layouts/header"
    .container-fluid
      #main
        = yield
    .row
      .span6.offset6
        %ul#lower-nav
          %li= link_to "Home", index_path
          %li= link_to "About", about_path
          %li= link_to "Bookmarklet", "#", { :"data-toggle" => "modal", :"data-target" => "#bookmarklet-code-dialog" }
          %li= link_to "Legal", legal_path
